.search-box{
    width: 100%;
    width: 100%;
    position: sticky;
    top: 20px;
    .search-bar{
        width: 100%;
        padding: 15px 15px 15px 20px;
        font-size: 18px;
        border-radius: 50px;
        color: #484848;
        border: none;
        box-shadow: 0px 5px 5px rgba(66,66,66,0.2)
    }
    button#start-search{
        background: #62a7a7;
        padding: 20px;
        display: flex;
        justify-content: center;
        border: none;
        align-items: center;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        width: 20px;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        .search-icon{
            border: none;
            width: 18px;
            height: 18px;
        }
    }
}
