.detailed-info{
    margin-top: 50px;
    background: rgba(0,0,0,0.2);
    padding: 20px;
    width: 100%;
    border-radius: 15px;
    ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 231px;
        li{
            display: flex;
            flex-direction: column;
            margin-bottom: 18px;
            width: 50%;
            font-size: 28px;
        }
    }
    span.label{
        color: #fdfdfd;
        margin-bottom: 4px;
        letter-spacing: 0.4px;
        font-size: 15px;
    }
    .sunrise-sunset{
        display: flex;
        justify-content: space-between;
        margin-bottom: 18px;
        & *{
            width: 50%;
            display: flex;
            flex-direction: column;
            font-size: 28px;
        }
    }
}