nav * {
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

nav {
    padding: 0px 0px 10px 0px;
    margin-top: 20px;
    display: flex;
}

nav a {
    font-weight: bold;
}

nav a:after {
    content: '';
    width: 0px;
    height: 2px;
    background: white;
    display: block;
    transition: .2s;
    position: relative;
}

nav a.active:after {
    width: 100%;
    transition: .2s;
    bottom: -3px;
}