.temp{
    font-size: 100px;
    margin-left: 15px;
    sup{
        font-size: 70px;
    }
}
.description{ 
    font-size: 30px;
    margin-top: 30px;
}
.location-name{
    font-size: 40px;
    text-align: center;
}
.highest-lowest{
    font-size: 22px;
    span:first-of-type{
        margin-right: 10px;
    }
}